/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/bg.png");
    background-repeat: no-repeat; /*bg no repeat screen*/ 
    background-size: cover; /*bg full screen*/ 
    background-position:center; /*bg center screen*/ 
}

/* dark mode looking scrollbar */ 
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #555;
}
::-webkit-scrollbar-thumb {
    background: #4a1474;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #242424;
}

/* SHAKE ANIMATION ON HORIZONTAL DIRECTION */
.shake {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97 ) 0.2s both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
/* input message */
.w-Inputmessage{
    width: 300px;
}
.icon-size{
    font-size: 25px;
}

/* area logout */
.areaLogout{
    padding-top: 20px;
}

/* button dropdow in chat orther user || name user chat */
.btn-profile-ortherChatUser{
    color: white;
    margin-left: 10px;
    font-size: 25px;
    color: #b69dcb;
    vertical-align:middle;
}
    .btn-profile-ortherChatUser:hover {
        color: #32124e;
    }

/* button logout in chat list user */
.btn-logout-listChatUser{
    font-size:30px;
    color: #b69dcb;
}
    .btn-logout-listChatUser:hover {
        color: #8800ff;
    }

/* dropdow in list user */
.btn-sendMessage-ortherChatUser{
    color: #b69dcb;
}
    .btn-sendMessage-ortherChatUser:hover {
        color: #8800ff;
    }

/* img user near button logout */
.imgUserinLogout{
    padding-right: 10px;
    width: 45px;
}

.setBoardEmoji{
    position: absolute;
    top: -440px; 
    left: 90px;

}

.mobile{
    width: auto;
}
/* ===================== Responsive design ===================== */
/* Mobile: width < 740px */
@media only screen and (max-width:46.1875em) {
/*===============================all Sidebar===============================*/
    /* .responsiveSidebar{
        flex-direction: column;
        height: 667px;
        width: 475px;
    } */
    body{
        overflow: hidden;
    }
    .responsiveRoot{
        padding: 0;
        margin: 0;
        border: none;
    }
    .responsiveHone{
        height: 567px;
        width: 475px;
        padding: 25px;
    }
    .responsiveSearchInput .input{
        width: 200px;
    }
    .responsiveLogoutButton{
        width: 200px;
                /* 
        height: 80px; */
        flex-direction: row;
    }
    .responsiveDivLogoutButton{
        width: 40px;
    }
    .responsiveDivNameAndPicUser{
        width: 80px;
        height: 50px;
    }
/*===============================all MessageContainer===============================*/
    /* .responsiveMessageContainer{
        align-items: center;
    } */
    .responsiveShowMessageBubble{
        height: 367px;
        width: 475px;
        overflow-y: auto;
    }
    .editBttonCloseDialogSave{
    top: 50px;
    font-size: 20px;
    margin: 15px;
    background-color: rgb(99, 99, 236);
    box-shadow: 5px 5px rgb(83, 83, 83);
    color: black;
}
    .editBttonCloseDialogSave:hover{
        font-size: 25px;
        background-color: rgb(27, 27, 129);
        box-shadow: 5px 5px rgb(48, 48, 48);
        color: white;
    }
.editBttonCloseDialogClose{
    top: 50px;
    font-size: 20px;
    margin: 15px;
    background-color: rgb(231, 115, 115);
    box-shadow: 5px 5px rgb(83, 83, 83);
    color: black;
}

    .editBttonCloseDialogClose:hover{
        font-size: 25px;
        background-color: rgb(151, 52, 52);
        box-shadow: 5px 5px rgb(48, 48, 48);
        color: white;
    }
}
/* Tablet: width >=740px and width <1024px */
@media only screen and (min-width:46.25em) and (max-width:63.9375em) {
    .responsiveLogoutButton{
        flex-direction: row;
    }
}
/* PC: width >=1024px */
@media only screen and (min-width:64em) {
    .responsiveLogoutButton{
        flex-direction: row;
    }
}


/*==============================dialog edit Profile===============================*/
.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dialog {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 999; /* Make sure it's on top of other content */
    position: relative;
  }
  .dialog-content {
    text-align: center;
    width: 400px;
    height: 400px;
  }
.editImgProfile{
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.editButtonCloseDialogSave{
    top: 50px;
    font-size: 20px;
    margin: 15px;
    background-color: rgb(99, 99, 236);
    box-shadow: 5px 5px rgb(83, 83, 83);
    color: black;
}
    .editButtonCloseDialogSave:hover{
        font-size: 25px;
        background-color: rgb(27, 27, 129);
        box-shadow: 5px 5px rgb(48, 48, 48);
        color: white;
    }
.editButtonCloseDialogClose{
    top: 50px;
    font-size: 20px;
    margin: 15px;
    background-color: rgb(231, 115, 115);
    box-shadow: 5px 5px rgb(83, 83, 83);
    color: black;
}

    .editButtonCloseDialogClose:hover{
        font-size: 25px;
        background-color: rgb(151, 52, 52);
        box-shadow: 5px 5px rgb(48, 48, 48);
        color: white;
    }
.editNameDialogProfile{
    font-size: 25px;
}
/*==============================dialog show Profile orther user===============================*/
.dialogShowOrtherUser-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dialogShowOrtherUser {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 999; /* Make sure it's on top of other content */
    position: relative;
  }
  .dialogShowOrtherUser-content {
    text-align: center;
    width: 400px;
    height: 400px;
  }
.editImgOrtherProfile{
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.editButtonCloseDialogShowOrtherUserClose{
    top: 50px;
    font-size: 20px;
    margin: 15px;
    background-color: rgb(231, 115, 115);
    box-shadow: 5px 5px rgb(83, 83, 83);
    color: black;
}

    .editButtonCloseDialogShowOrtherUserClose:hover{
        font-size: 25px;
        background-color: rgb(151, 52, 52);
        box-shadow: 5px 5px rgb(48, 48, 48);
        color: white;
    }
.editNameDialogProfile{
    font-size: 25px;
}

/*============================== edit Messages===============================*/
.inputSendMesage{
    z-index: 1;
}